.rectangle {
    padding: 10px;
    width: 241px;
    height: 200px;
    margin-left: 18%;
    background-color: #f8f9fa !important;
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}
.basicRec{
    min-height: 30px;
    min-width: 30px;
    background: #FFFFFF;
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.25);
    border-radius: 14px;


}
.mainRec {
    padding: 10px;
    width: 80%;
    height: 500px;
    margin: 0 40px 0 150px;
    background-color: #FFFFFF !important;
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}
.carbonImage{
    margin: 22% 0 0 29%;
    height: 90px;
}
.scTest{
    width: 234px;
    background-color: #10B65C;
    border-radius: 14px;
    margin-bottom: 20px;
    margin-right: 10px;
    
}

.secName{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #293E6F;
    margin-left: 34%;
    margin-top: 10px;
}
.secName1{
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #293E6F;
    margin-left: 22%;
}
.secNameBig{
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #293E6F;
    margin-left: 10%;
}

.secNm{
    width: 100%;
    height: 53px;
    
    padding:14px 31px;
    
}
.AdminSetSection{
    margin-left: 10%;
    margin-top: 50px;
    margin-right: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #293E6F;
}
.avQs{
    text-align: center;
    width: 90%;
    height: 100%;
    padding: 10px 20px 10px 20px;
}
.easyMedHard{
    width: 100%;
    min-height: 50px;
}
.remQs{
    font-size: 50px;
    line-height: 60px;
}
.SetQuestion{
    margin-left: 10%;
    margin-top: 50px;
    margin-right: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #293E6F;

}
.scrollbar
{

  background: #F5F5F5;
  overflow-y: auto;
}



#style-4::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
  background-color: #adb5bd;
}

.ff{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;
 }

 @keyframes blinkingFrames {
    0% {opacity: 1.00;}
    50% {opacity: 0.00;}
    100% {opacity: 1.00;}
}

.blinking {
    animation-name: blinkingFrames;
    animation-duration: 2s;
    animation-iteration-count: 10;
}