* {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
}
@media (max-width: 350px) {
  .mobile_width_error {
    height: 25% !important;
  }
}
@media (max-width: 250px) {
  .mobile_width_error {
    height: 30% !important;
  }
}
