.apexcharts-datalabel-label{
    font-family: Poppins !important;
    font-size: 12.6px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    fill: #293E6F !important;  
}