*{
    font-family: Poppins;
font-style: normal;
}
.passage{
    padding-top: 35px;
    background: #F6F6F6;
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.25);
}
.question{
    padding: 0px 5px;
    background: #FFFFFF;
box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.25);
}
.verbalRHeader{
    background: #FEFFFF;
box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.25);
padding: 10px;
}