.paragraph {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #293e6f;
  margin-top: 30px;
  width: 300px;
}

.videoPlayer {
  margin-right: 15%;
  margin-left: auto;
  padding: 5px 5px 5px 5px;
  width: 577px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.videoPlayer div {
  border-radius: 14px !important;
  height: 320px !important;
  width: 567px !important;
}

.buttonDiv {
  width: 234px;
  background-color: #10b65c;
  border-radius: 14px;
  margin-top: 70px;
}

.welcomeDiv {
  background-image: url("/src/img/Group 10.png");
  height: 560px;
  padding-top: 120px;
  padding-left: 70px;
}

.mainheadingLanding {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 58px;
  color: #293e6f;
  text-align: left;
  padding-bottom: 30px;
}

.subHeadingsProfile {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #293e6f;
}

.subHeadingsProfile1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18.8px;
  line-height: 29px;
  color: #293e6f;
}

.divHeadings {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: #293e6f;
}

.welcomeImageDiv {
  display: flex;
  align-items: center;
}

.welcomeImage {
  height: 90%;
  width: 90%;
}
.welcomeImage2 {
  height: 75%;
  width: 75%;
}
.welcomeImage3 {
  height: 85%;
  width: 85%;
}

.welcomeImage1 {
  height: 100%;
  width: 100%;
}

.aboutDiv {
  display: flex;
  align-items: center;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.introPara {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16.8px;
  line-height: 29px;
  text-align: justify;
  color: #293e6f;
}

.landingPara {
  margin-top: 7%;
}

.landingPara1 {
  margin-top: 5%;
}

.ourteam {
  margin-top: 0.5rem !important;
}

.user {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.username {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #081466;
  margin-top: 10px;
}

.role {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #0f1420;
}

@media (max-width: 612px) {
  .videoPlayer {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 95% !important;
  }
  .videoPlayer div {
    width: 100% !important;
  }
  .user {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 991px) {
  .welcomeDiv {
    height: 1000px;
    padding-left: 0;
  }
  .videoPlayer {
    margin-left: auto;
    margin-right: auto;
  }

  .titleDiv {
    margin-left: 0;
    text-align: center;
  }

  .mainheadingLanding {
    margin-left: 0;
    text-align: center;
    font-size: 25px;
  }
  .subHeadingsProfile {
    margin-left: 0;
    text-align: center;
    font-size: 25px;
  }

  .buttonDiv {
    margin-left: 0;
    margin-right: 0;
  }

  .landingPara {
    text-align: start;
    margin-top: 5%;
  }
  .landingPara1 {
    text-align: start;
    margin-top: 5%;
  }
  .titleDiv {
    align-items: center;
  }
  .container #middleLogoRow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .container #middleLogoRow .first_col {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .container #middleLogoRow .second_col {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}
