.paragraph {
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #293E6F;
    margin-top: 30px;
    width: 300px;
}

.buttonDiv {
    width: 234px;
    background-color: #10b65c;
    border-radius: 14px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-top: 20px;
  }

.welcomeDiv {
    background-image: url("/src/img/Group 10.png");

}

.mainheading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 55px;
    color: #293E6F;
    text-align: center;
    padding: 30px;
}

.subHeadingsProfile {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 57px;
    color: #293E6F;
   
}

.subHeadingsProfile1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18.8px;
    line-height: 29px;
    color: #293E6F;
}

.divHeadings {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: #293E6F;
}

.welcomeImageDiv {
    display: flex;
    align-items: center;
}

.welcomeImage {
    height: 90%;
    width: 90%;
}
.welcomeImage2 {
    height: 75%;
    width: 75%;
}
.welcomeImage3 {
    height: 85%;
    width: 85%;
}

.welcomeImage1 {
    height: 100%;
    width: 100%;
}

.aboutDiv {
    display: flex;
    align-items: center;
}

.titleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.introPara {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16.8px;
    line-height: 29px;
    text-align: justify;
    color: #293E6F;
}

.landingPara {
    margin-top: 7%;
}

.landingPara1 {
    margin-top: 5%;
}

.ourteam {
    margin-top: 0.5rem !important;
}

.user {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.username {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #081466;
    margin-top: 10px;
}

.role {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #0F1420;
}

@media screen and ( min-width: 780px) {
    .firstPara {
        border-right: 1px solid #293E6F;
    }
}

@media (max-width: 768px) {
    .titleDiv {
        margin-left: 0;
        text-align: center;
    }
    .subHeadingsProfile {
        text-align: start;
    }
    .landingPara {
        text-align: start;
        margin-top: 5%;
    }
    .landingPara1 {
        text-align: start;
        margin-top: 5%;
    }
    .welcomeImage {
        display: none;
    }
    .welcomeImage1 {
        display: none;
    }
    .welcomeImage2 {
        display: none;
    }
    .welcomeImage3 {
        display: none;
    }
    .titleDiv {
        align-items: center;
    }
   
}
