form-control form-check-input {
  height: "1.5rem" !important;
  width: "1.5rem" !important;
  margin-bottom: 0;
  margin-left: 40px;
}
.dataTables_wrapper .dataTables_length label select {
  width: 30% !important;
}
