.apexcharts-legend-marker {
  margin-right: 10px !important;
}
.apexcharts-legend {
  padding-top: 60px !important;
}
.apexcharts-legend-series {
  margin: 7px 0 !important;
}
.apexcharts-legend-text {
  color: #788094 !important;
}
