.factor_5_modal {
  font-family: Poppins;
  font-style: normal;
  font-weight: Bold;
  font-size: 20px;
  line-height: 30px;
  color: #081466;
}
.factor_5_modal_result {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #0f1420;
}
.radarCh .apexcharts-menu-icon,
.modal-dialog .apexcharts-menu-icon {
  display: none;
}

.Para {
  margin-top: 20px;
  font-family: Poppins;
  font-weight: 1000;
  font-size: 20px;
  color: #081466;
}
#result_page {
  max-width: 900px !important;
  margin: 1.75rem auto;
}
@media all {
  .page-break {
    overflow: hidden;
    height: 0;
    display: "none";
  }
}
@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
}
