.SchdlTest{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;

color: #293E6F !important;
}

.lineThrough{
    margin-top: 10px;
    border: 2px solid #EFF2F7;
transform: rotate(0.22deg);
}