.rectangle {
    min-height: 60px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa !important;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.navigatorBox{
  background-color: #081466;
  height: 35px;
  width: 35px;
  margin-left: 32px;
  margin-top: 25px;
  color: white;
  text-align: center;
  padding: 5px 0 0 0 !important;
}
input{
  border: 0px !important;
}
input:focus{
  border:0px !important;
}
.field-icon {
  float: right;
  margin-right: 10px;
  margin-top: -43px;
  position: relative;
  z-index: 2;
  color: #bbb5b5;
}
.field-icon:hover{
  cursor: pointer;
}
.nextQsBtn{
  width: 235px;
  background-color: #10B65C;
  margin-top: 40px;
  margin-left: 360px;
}

